<md-card class="mat-card" *ngIf="book">
  <md-card-title-group class="mat-card-title-group">
    <div>
    <md-card-title class="mat-card-title ">{{ title }}</md-card-title>
    <md-card-subtitle class="mat-card-subtitle " *ngIf="subtitle">{{ subtitle }}</md-card-subtitle>
    </div>
    <img class="mat-card-sm-image" *ngIf="thumbnail" [src]="thumbnail"/>
  </md-card-title-group>
  <md-card-content class="mat-card-content">
    <p [innerHtml]="description"></p>
  </md-card-content>
  <md-card-footer class="footer">
    <!-- <bc-book-authors [book]="book"></bc-book-authors> -->
  </md-card-footer>
  <md-card-actions class="mat-card-actions" align="start">
    <button class="mat-raised-button mat-primary" color="warn" *ngIf="inCollection(book)" (click)="removeBook(book)">
    Remove Book from Collection
    </button>
    <button class="mat-raised-button mat-primary" color="primary" *ngIf="!inCollection(book)" (click)="addBook(book)">
    Add Book to Collection
    </button>
  </md-card-actions>
</md-card>
